In [1]:
import pandas

In [2]:
#import the 'Exchange Traded Funds(ETFs) list'
etf_list = pandas.ExcelFile('ETF lists.xlsx')
etf_list

In [3]:
etf_list.sheet_names

[u'Sheet1']

In [4]:
etfs = etf_list.parse('Sheet1')

In [27]:
etfs.shape

(95, 5)

In [11]:
zcnh = pandas.read_csv('ZCNH.csv')
zgol = pandas.read_csv('ZGOL.csv')
zozi = pandas.read_csv('ZOZI.csv')
zusd = pandas.read_csv('ZUSD.csv')
zyau = pandas.read_csv('ZYAU.csv')
zyus = pandas.read_csv('ZYUS.csv')

In [19]:
import matplotlib.pyplot

In [23]:
zcnh.head()

,Security Code,Date,Opening Price,High Sale Price,Low Sale Price,Closing Price,Total Volume Traded
0,ZCNH,27 Jul 2015,10.44,10.44,10.44,10.44,0
1,ZCNH,31 Jul 2015,10.49,10.49,10.49,10.49,0
2,ZCNH,28 Jan 2016,10.20,10.20,10.20,10.20,750
3,ZCNH,22 Feb 2016,10.20,10.20,10.20,10.20,0
4,ZCNH,23 Feb 2016,10.20,10.20,10.20,10.20,0

AttributeError: 'DataFrame' object has no attribute 'to_Json'